<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*/ <th:block th:include="top :: top"></th:block> /*/-->

<body>

<div class="container">

    <!--/*/ <th:block th:include="header :: header"></th:block> /*/-->

    <h2>Links</h2>
    <div>
        <form class="form-horizontal" th:object="${entity}" th:action="@{/links}" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="col-sm-4 control-label">Link</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{link}"/>
                    </div>
                </div>
                <div class="form-group col-sm-6 me-0">
                    <label class="col-sm-4 control-label">Descripción</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{descrip}"/>
                    </div>
                </div>
            </div>

            <tr th:each="link, itemStat : ${entity.links}">
                <td><input th:field="*{link[__${itemStat.index}__].id}" /></td>
                <td><input th:field="*{link[__${itemStat.index}__].descrip}" /></td>
            </tr>

            <div class="row">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-default" th:href="${'/proyectfinal/contenidos'}">Cancelar</a>
            </div>
            <h5 style="color:red;" th:text="${message}"></h5>
        </form>
    </div>
    <!-- Fin Zona de Ajuste -->

</div>

</body>
</html>

