<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*/ <th:block th:include="top :: top"></th:block> /*/-->

<body>

<div class="container">

    <!--/*/ <th:block th:include="header :: header"></th:block> /*/-->


    <h1>Cargar archivos</h1>

    <form method="POST"   th:action="@{/upload}" enctype="multipart/form-data">
        <input type="file" name="file" /><br/><br/>
        <input type="submit" value="Submit" />

    </form>


    <!-- Fin Zona de Ajuste -->

    <div>
        <table width="100%">

            <tr th:each="archivo, itemStat : *{archivos}">

                <input type="hidden" th:field="*{archivos[__${itemStat.index}__].id}" />
                <td th:text="*{archivos[__${itemStat.index}__].id}"></td>
                <td th:text="*{archivos[__${itemStat.index}__].descrip}"></td>
               <!-- <td width="5%"><a class="btn btn-danger" th:href="${'/proyectfinal/contenidos/deletelink/'} + *{links[__${itemStat.index}__].id} + '/' + *{links[__${itemStat.index}__].contenidoid}" >X</a></td>
                -->
            </tr>
        </table>



    </div>

</div>

</body>
</html>

