<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <!--/*/ <th:block th:include="top :: top"></th:block> /*/--> 
    
    <body>

        <div class="container">

            <!--/*/ <th:block th:include="header :: header"></th:block> /*/-->

            <div class="starter-template">
                <h1>Gestor de Contenidos</h1>
                <p>Este es un proyecto final propuesto por el profesor Silvio Moschen</p>

                <ul>TAREAS</ul>
                <li>1.Registro Ayrton</li>
                <li>2.Usuario Alex</li>
                <li>3.Contenidos Augusto</li>
                <li>4.Categoría Juliana</li>
                <li>5.Archivo Manuel</li>
                <li>6.Link Rocío</li>
                <h2 th:text="${message}"></h2>                
            </div>           

        </div>

    </body>
</html>
